html {
    height: 100%;
}
body {
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    text-align: center;
}
a {
    color: black;
    text-decoration: none;
}
